a, a:visited {
    color: rgb(136, 187, 221);
    text-decoration-color: initial;
    background-color: transparent;
}

h3, h4 {
    display: inline;
    font: 400 16px/1.5 "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

blockquote {
    background-color: rgb(61, 64, 67);
    border-top-color: rgb(92, 92, 92);
    border-right-color: rgb(92, 92, 92);
    border-bottom-color: rgb(92, 92, 92);
    border-left-color: rgb(92, 92, 92);
    color: rgb(186, 181, 171);
    border: 1px dashed #333;
    font-style: italic;
    margin-top: 4px;
    padding: 2px;
}

blockquote > p {
    padding: 0;
    margin-bottom: 0
}

ol, ul {
    list-style-type:none
}

h1, h2 {
    text-align: center;
}

footer, footer > p {
    text-align: center;
}